footer {
  background-color: #2E2E2E;
  color: #B0B0B0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.social-logo img {
  width: 30px;
  margin-left: 10px;
}